version: "3.7"

networks:
  default:
    external:
      name: fritz_net

services:
  web:
    image: skyportal/web
    expose:
      - "5000"
    volumes:
      # fritz takes care of making a docker-appropriate config.yaml with Fritz-specific additions
      - ${PWD}/skyportal/config.yaml:/skyportal/config.yaml
      - ${PWD}/skyportal/data/db_fritz.yaml:/skyportal/data/db_seed.yaml
      - thumbnails:/skyportal/static/thumbnails
#    command: bash -c "source /skyportal_env/bin/activate && (make log &) && make run"
    command: >
      bash -c "source /skyportal_env/bin/activate && (make log &) && make run_production &&
      ./node_modules/.bin/webpack --mode=production --devtool none"
    labels:
#      # Explicitly tell Traefik to expose this container
      - "traefik.enable=true"
      - "traefik.docker.network=default"
      - "traefik.http.routers.fritz.rule=Host(`<host>`)"
      - "traefik.http.routers.fritz.entrypoints=websecure"
      - "traefik.http.routers.fritz.tls.certresolver=myresolver"
      - "traefik.http.services.fritz.loadBalancer.server.port=5000"
#      # middleware redirect
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"
#      # global redirect to https
      - "traefik.http.routers.http_catchall.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.http_catchall.entrypoints=web"
      - "traefik.http.routers.http_catchall.middlewares=https_redirect"
    restart: on-failure:3
    depends_on:
      - db

  db:
    image: postgres:12.2
    environment:
      POSTGRES_USER: skyportal
      POSTGRES_PASSWORD: password
      POSTGRES_DB: skyportal
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - dbdata:/var/lib/postgresql/data/pgdata
    restart: on-failure:3

volumes:
  dbdata:
  thumbnails:
