version: "3.7"

networks:
  kowalski:
    external:
      name: kowalski_kowalski
  default:

services:
  web:
    image: skyportal/web
    ports:
      - "9000:5000"
      - "9001:5001"
    volumes:
      # fritz takes care of making a docker-appropriate config.yaml with Fritz-specific additions
      - ${PWD}/skyportal/config.yaml:/skyportal/config.yaml
    command: >
      bash -c "source /skyportal_env/bin/activate
      && cat js-requirements.fritz.txt | xargs npm install
      && pip install -r requirements.fritz.txt
      && (make log &) && make run"
    networks:
      - default
      - kowalski

  db:
    image: postgres:12.2
    environment:
      POSTGRES_USER: skyportal
      POSTGRES_PASSWORD: password
      POSTGRES_DB: skyportal
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - dbdata:/var/lib/postgresql/data/pgdata
    restart: on-failure:3
    networks:
      - default

volumes:
  dbdata:
