name: Integration testing

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-integration:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install "wheel>=0.36"
          python -m pip install -r requirements.txt
          ./fritz develop

      - name: Set up configs
        run: |
          cp fritz.defaults.yaml fritz.yaml

      - name: Build and spin up
        run: |
          ./fritz build --init
          docker network create fritz_net
          ./fritz run
          docker network inspect fritz_net

      - name: Run integration tests
        run: |
          ./fritz test
