name: Integration testing

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test-integration:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "wheel>=0.36"
          pip install -r requirements.txt
          ./fritz develop

      - name: Set up configs
        run: |
          cp fritz.defaults.yaml fritz.yaml

      - name: Build and spin up
        run: |
          cp kowalski/docker-compose.defaults.yaml kowalski/docker-compose.yaml
          ./fritz run --init

      - name: Run integration tests
        run: |
          ./fritz test
